[submodule "Programacio-de-serveis-i-processos"]
	path = Programacio-de-serveis-i-processos
	url = https://github.com/mace169/Programacio-de-serveis-i-processos.git
[submodule "Acces_Dades"]
	path = Acces_Dades
	url = https://github.com/mace169/Acces_Dades.git
